<div class="logo_products">
  <div class="container">
    <div class="w3ls_logo_products_left1">
      <ul class="phone_email">
        <li><i aria-hidden="true" class="fa fa-phone">
            <order>online or call us : (+0123) 234 567</order>
          </i></li>
      </ul>
    </div>
    <div class="w3ls_logo_products_left">
      <h1><a href="/"> super Market</a></h1>
    </div>
    <div class="clearfix"></div>
  </div>
</div>

<div class="navigation-agileits">
  <nav class="navbar navbar-expand-lg navbar-light"><a class="navbar-brand" href="#" style="color: #fff">Ian's Shop</a><button
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
      data-target="#navbarNavDropdown" data-toggle="collapse" type="button"><span class="navbar-toggler-icon" style="color: #fff"></span></button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <%# <li class="nav-item"><a class="nav-link" href="/" style="color: #fff">Home<span class="sr-only" current=""></span></a></li> %>
        <li class="nav-item"><a class="nav-link" href="/products" style="color: #fff"> Shopping</a></li>
        <li class="nav-item"><a class="nav-link" href="/orders" style="color: #fff"> My Orders</a></li>
        <%# <div class="agile-login"> %>
      </ul>
      <ul class="navbar-nav ml-auto">
        <% if current_user %>
          <li class="nav-item"><%= link_to('Logout', destroy_user_session_path, :method => :delete, class: "nav-link", style: "color: #fff;padding-left: 10") %> </li>
          <li class="nav-item"><%= link_to('Change Password', edit_registration_path(:user), class: "nav-link", style: "color: #fff") %></li>
          <li class="nav-item">
            <div class="product_list_header">
              <button class="w3view-cart" name="submit" type="submit" value="">
                <i aria-hidden="true" class="fa fa-cart-arrow-down" data-target="#cartModal" data-toggle="modal"></i>
              </button>
            </div>
          </li>
        <% else %>
          <li class="nav-item"><%= link_to('Create Account', new_registration_path(:user), class: "nav-link", style: "color: #fff") %> </li>
          <li class="nav-item"><%= link_to('Login', new_session_path(:user), class: "nav-link", style: "color: #fff") %> </li>
        <% end %>
      </ul>
    </div>
  </nav>
</div>
